In [1]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5955 sha256=1b9b62ac2db582c972780d0661471b727f16bab838a6e614ad41957289f4eed3
  Stored in directory: /root/.cache/pip/wheels/c4/1a/79/20f55c470a50bb3702a8cb7c94d8ada15573538c7f4baebe2d
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("Market_Basket_Optimisation.csv", header=None)

In [5]:
print(len(data))

7501

In [7]:
print(len(data.columns))

20

In [12]:
print(data.values)

[['shrimp' 'almonds' 'avocado' ... 'frozen smoothie' 'spinach'
  'olive oil']
 ['burgers' 'meatballs' 'eggs' ... nan nan nan]
 ['chutney' nan nan ... nan nan nan]
 ...
 ['chicken' nan nan ... nan nan nan]
 ['escalope' 'green tea' nan ... nan nan nan]
 ['eggs' 'frozen smoothie' 'yogurt cake' ... nan nan nan]]

In [13]:
transactions = []
for i in range(0, len(data)):
  for j in range(0, len(data.columns)):
    transactions.append(str(data.values[i,j]))